@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.archive .post__item {
    animation: fadeIn ease-in-out;

    @for $i from 1 through 9 {
        &:nth-of-type(#{$i}) {
            animation-duration: 1000ms + (200ms * $i);
        }
    }
}