$font-color: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);
$font-hover-footer: rgba(251,138,219,1);

$laptop-resolution: 1024px;
$laptop-resolution-portrait: 768px;
$mobile-resolution: 576px;